<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
    <div id="app">
        <nav>
            <div class="container">
                <div class="nav-container">
                    <div class="logo-container">
                        <img src="https://cdn.pixabay.com/photo/2018/05/08/21/29/spotify-3384019_960_720.png" alt="">
                    </div>
                    <div class="menu-container">
                        <select name="" id="">
                            <option @click="selectGenre(index)" v-for="(item, index) in optionArray" value=""> {{item}}</option>
                        </select>
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="dischi-container">
                    <div v-for="val in filterArray"  class="dischi">
                        <img :src="val.immagine" alt="">
                        <h2>{{val.titolo}}</h2>
                        <p>{{val.autore}}</p>
                        <p>{{val.genere}}</p>
                    </div>
            </div>
        </div>
        </div>
    </div>


    <script src="src/app.js"></script>
</body>
</html>
