* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "partials-scss/mixins"; 
@import "partials-scss/navbar";

body {
    background-color: black;
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
}

.dischi-container {
    width: 100%;
    @include display-flex (space-around);
}

.dischi {
    text-align: center;
    color: white;
}

.dischi-container img {
    height: 200px;
    padding: 20px;
    margin-top: 30px;
    cursor: pointer;
    &:hover {
        background-color: grey;
        transform: scale(1.10);
        transition: all 0.5s ease;
    }
}
